.iti {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px; }
  .iti * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .iti__hide {
    display: none; }
  .iti__v-hide {
    visibility: hidden; }
  .iti input, .iti input[type=text], .iti input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 66px;
    margin-right: 0; }
  .iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
    }
  .iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;
    }
  .iti__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555; }
    .iti__arrow--up {
      border-top: none;
      border-bottom: 4px solid #555; }
  .iti__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .iti__country-list--dropup {
      bottom: 100%;
      margin-bottom: -1px; }
    @media (max-width: 500px) {
      .iti__country-list {
        white-space: normal; } }
  .iti__flag-box {
    display: inline-block;
    width: 50px; }
  .iti__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC; }
  .iti__country {
    padding: 5px 10px;
    outline: none; }
  .iti__dial-code {
    color: #999; }
  .iti__country.iti__highlight {
    background-color: rgba(0, 0, 0, 0.05); }
  .iti__flag-box, .iti__country-name, .iti__dial-code {
    vertical-align: middle; }
  .iti__flag-box, .iti__country-name {
    margin-right: 6px; }
  .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 82px;
    margin-left: 0; }
  .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 0; }
  .iti--allow-dropdown .iti__flag-container:hover {
    cursor: pointer; }
    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
      background-color: rgba(0, 0, 0, 0.05); }
  .iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
  .iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
    cursor: default; }
    .iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
    .iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
      background-color: transparent; }
  .iti--separate-dial-code .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05); }
  .iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px;
    display: none; }
  .iti--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px; }
    .iti--container:hover {
      cursor: pointer; }

.iti-mobile .iti--container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed; }

.iti-mobile .iti__country-list {
  max-height: 100%;
  width: 100%; }

.iti-mobile .iti__country {
  padding: 10px 10px;
  line-height: 1.5em; }

.iti__flag {
  width: 32px; }
  .iti__flag.iti__be {
    width: 29px; }
  .iti__flag.iti__ch {
    width: 25px; }
  .iti__flag.iti__ne {
    width: 29px; }
  .iti__flag.iti__np {
    width: 21px; }
  .iti__flag.iti__va {
    width: 25px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
      background-size: 8739px 25px; } }
  .iti__flag.iti__ac {
    height: 16px;
    background-position: 0px 0px; }
  .iti__flag.iti__ad {
    height: 23px;
    background-position: -34px 0px; }
  .iti__flag.iti__ae {
    height: 16px;
    background-position: -68px 0px; }
  .iti__flag.iti__af {
    height: 22px;
    background-position: -102px 0px; }
  .iti__flag.iti__ag {
    height: 22px;
    background-position: -136px 0px; }
  .iti__flag.iti__ai {
    height: 16px;
    background-position: -170px 0px; }
  .iti__flag.iti__al {
    height: 23px;
    background-position: -204px 0px; }
  .iti__flag.iti__am {
    height: 16px;
    background-position: -238px 0px; }
  .iti__flag.iti__ao {
    height: 22px;
    background-position: -272px 0px; }
  .iti__flag.iti__aq {
    height: 22px;
    background-position: -306px 0px; }
  .iti__flag.iti__ar {
    height: 20px;
    background-position: -340px 0px; }
  .iti__flag.iti__as {
    height: 16px;
    background-position: -374px 0px; }
  .iti__flag.iti__at {
    height: 22px;
    background-position: -408px 0px; }
  .iti__flag.iti__au {
    height: 16px;
    background-position: -442px 0px; }
  .iti__flag.iti__aw {
    height: 22px;
    background-position: -476px 0px; }
  .iti__flag.iti__ax {
    height: 21px;
    background-position: -510px 0px; }
  .iti__flag.iti__az {
    height: 16px;
    background-position: -544px 0px; }
  .iti__flag.iti__ba {
    height: 16px;
    background-position: -578px 0px; }
  .iti__flag.iti__bb {
    height: 22px;
    background-position: -612px 0px; }
  .iti__flag.iti__bd {
    height: 19px;
    background-position: -646px 0px; }
  .iti__flag.iti__be {
    height: 25px;
    background-position: -680px 0px; }
  .iti__flag.iti__bf {
    height: 22px;
    background-position: -711px 0px; }
  .iti__flag.iti__bg {
    height: 19px;
    background-position: -745px 0px; }
  .iti__flag.iti__bh {
    height: 19px;
    background-position: -779px 0px; }
  .iti__flag.iti__bi {
    height: 19px;
    background-position: -813px 0px; }
  .iti__flag.iti__bj {
    height: 22px;
    background-position: -847px 0px; }
  .iti__flag.iti__bl {
    height: 22px;
    background-position: -881px 0px; }
  .iti__flag.iti__bm {
    height: 16px;
    background-position: -915px 0px; }
  .iti__flag.iti__bn {
    height: 16px;
    background-position: -949px 0px; }
  .iti__flag.iti__bo {
    height: 22px;
    background-position: -983px 0px; }
  .iti__flag.iti__bq {
    height: 22px;
    background-position: -1017px 0px; }
  .iti__flag.iti__br {
    height: 23px;
    background-position: -1051px 0px; }
  .iti__flag.iti__bs {
    height: 16px;
    background-position: -1085px 0px; }
  .iti__flag.iti__bt {
    height: 22px;
    background-position: -1119px 0px; }
  .iti__flag.iti__bv {
    height: 24px;
    background-position: -1153px 0px; }
  .iti__flag.iti__bw {
    height: 22px;
    background-position: -1187px 0px; }
  .iti__flag.iti__by {
    height: 16px;
    background-position: -1221px 0px; }
  .iti__flag.iti__bz {
    height: 22px;
    background-position: -1255px 0px; }
  .iti__flag.iti__ca {
    height: 16px;
    background-position: -1289px 0px; }
  .iti__flag.iti__cc {
    height: 16px;
    background-position: -1323px 0px; }
  .iti__flag.iti__cd {
    height: 24px;
    background-position: -1357px 0px; }
  .iti__flag.iti__cf {
    height: 22px;
    background-position: -1391px 0px; }
  .iti__flag.iti__cg {
    height: 22px;
    background-position: -1425px 0px; }
  .iti__flag.iti__ch {
    height: 25px;
    background-position: -1459px 0px; }
  .iti__flag.iti__ci {
    height: 22px;
    background-position: -1486px 0px; }
  .iti__flag.iti__ck {
    height: 16px;
    background-position: -1520px 0px; }
  .iti__flag.iti__cl {
    height: 22px;
    background-position: -1554px 0px; }
  .iti__flag.iti__cm {
    height: 22px;
    background-position: -1588px 0px; }
  .iti__flag.iti__cn {
    height: 22px;
    background-position: -1622px 0px; }
  .iti__flag.iti__co {
    height: 22px;
    background-position: -1656px 0px; }
  .iti__flag.iti__cp {
    height: 22px;
    background-position: -1690px 0px; }
  .iti__flag.iti__cr {
    height: 19px;
    background-position: -1724px 0px; }
  .iti__flag.iti__cu {
    height: 16px;
    background-position: -1758px 0px; }
  .iti__flag.iti__cv {
    height: 19px;
    background-position: -1792px 0px; }
  .iti__flag.iti__cw {
    height: 22px;
    background-position: -1826px 0px; }
  .iti__flag.iti__cx {
    height: 16px;
    background-position: -1860px 0px; }
  .iti__flag.iti__cy {
    height: 22px;
    background-position: -1894px 0px; }
  .iti__flag.iti__cz {
    height: 22px;
    background-position: -1928px 0px; }
  .iti__flag.iti__de {
    height: 19px;
    background-position: -1962px 0px; }
  .iti__flag.iti__dg {
    height: 16px;
    background-position: -1996px 0px; }
  .iti__flag.iti__dj {
    height: 22px;
    background-position: -2030px 0px; }
  .iti__flag.iti__dk {
    height: 24px;
    background-position: -2064px 0px; }
  .iti__flag.iti__dm {
    height: 16px;
    background-position: -2098px 0px; }
  .iti__flag.iti__do {
    height: 22px;
    background-position: -2132px 0px; }
  .iti__flag.iti__dz {
    height: 22px;
    background-position: -2166px 0px; }
  .iti__flag.iti__ea {
    height: 22px;
    background-position: -2200px 0px; }
  .iti__flag.iti__ec {
    height: 22px;
    background-position: -2234px 0px; }
  .iti__flag.iti__ee {
    height: 21px;
    background-position: -2268px 0px; }
  .iti__flag.iti__eg {
    height: 22px;
    background-position: -2302px 0px; }
  .iti__flag.iti__eh {
    height: 16px;
    background-position: -2336px 0px; }
  .iti__flag.iti__er {
    height: 16px;
    background-position: -2370px 0px; }
  .iti__flag.iti__es {
    height: 22px;
    background-position: -2404px 0px; }
  .iti__flag.iti__et {
    height: 16px;
    background-position: -2438px 0px; }
  .iti__flag.iti__eu {
    height: 22px;
    background-position: -2472px 0px; }
  .iti__flag.iti__fi {
    height: 20px;
    background-position: -2506px 0px; }
  .iti__flag.iti__fj {
    height: 16px;
    background-position: -2540px 0px; }
  .iti__flag.iti__fk {
    height: 16px;
    background-position: -2574px 0px; }
  .iti__flag.iti__fm {
    height: 17px;
    background-position: -2608px 0px; }
  .iti__flag.iti__fo {
    height: 24px;
    background-position: -2642px 0px; }
  .iti__flag.iti__fr {
    height: 22px;
    background-position: -2676px 0px; }
  .iti__flag.iti__ga {
    height: 24px;
    background-position: -2710px 0px; }
  .iti__flag.iti__gb {
    height: 16px;
    background-position: -2744px 0px; }
  .iti__flag.iti__gd {
    height: 19px;
    background-position: -2778px 0px; }
  .iti__flag.iti__ge {
    height: 22px;
    background-position: -2812px 0px; }
  .iti__flag.iti__gf {
    height: 22px;
    background-position: -2846px 0px; }
  .iti__flag.iti__gg {
    height: 22px;
    background-position: -2880px 0px; }
  .iti__flag.iti__gh {
    height: 22px;
    background-position: -2914px 0px; }
  .iti__flag.iti__gi {
    height: 16px;
    background-position: -2948px 0px; }
  .iti__flag.iti__gl {
    height: 22px;
    background-position: -2982px 0px; }
  .iti__flag.iti__gm {
    height: 22px;
    background-position: -3016px 0px; }
  .iti__flag.iti__gn {
    height: 22px;
    background-position: -3050px 0px; }
  .iti__flag.iti__gp {
    height: 22px;
    background-position: -3084px 0px; }
  .iti__flag.iti__gq {
    height: 22px;
    background-position: -3118px 0px; }
  .iti__flag.iti__gr {
    height: 22px;
    background-position: -3152px 0px; }
  .iti__flag.iti__gs {
    height: 16px;
    background-position: -3186px 0px; }
  .iti__flag.iti__gt {
    height: 20px;
    background-position: -3220px 0px; }
  .iti__flag.iti__gu {
    height: 17px;
    background-position: -3254px 0px; }
  .iti__flag.iti__gw {
    height: 16px;
    background-position: -3288px 0px; }
  .iti__flag.iti__gy {
    height: 19px;
    background-position: -3322px 0px; }
  .iti__flag.iti__hk {
    height: 22px;
    background-position: -3356px 0px; }
  .iti__flag.iti__hm {
    height: 16px;
    background-position: -3390px 0px; }
  .iti__flag.iti__hn {
    height: 16px;
    background-position: -3424px 0px; }
  .iti__flag.iti__hr {
    height: 16px;
    background-position: -3458px 0px; }
  .iti__flag.iti__ht {
    height: 19px;
    background-position: -3492px 0px; }
  .iti__flag.iti__hu {
    height: 16px;
    background-position: -3526px 0px; }
  .iti__flag.iti__ic {
    height: 22px;
    background-position: -3560px 0px; }
  .iti__flag.iti__id {
    height: 22px;
    background-position: -3594px 0px; }
  .iti__flag.iti__ie {
    height: 16px;
    background-position: -3628px 0px; }
  .iti__flag.iti__il {
    height: 24px;
    background-position: -3662px 0px; }
  .iti__flag.iti__im {
    height: 16px;
    background-position: -3696px 0px; }
  .iti__flag.iti__in {
    height: 22px;
    background-position: -3730px 0px; }
  .iti__flag.iti__io {
    height: 16px;
    background-position: -3764px 0px; }
  .iti__flag.iti__iq {
    height: 22px;
    background-position: -3798px 0px; }
  .iti__flag.iti__ir {
    height: 19px;
    background-position: -3832px 0px; }
  .iti__flag.iti__is {
    height: 23px;
    background-position: -3866px 0px; }
  .iti__flag.iti__it {
    height: 22px;
    background-position: -3900px 0px; }
  .iti__flag.iti__je {
    height: 19px;
    background-position: -3934px 0px; }
  .iti__flag.iti__jm {
    height: 16px;
    background-position: -3968px 0px; }
  .iti__flag.iti__jo {
    height: 16px;
    background-position: -4002px 0px; }
  .iti__flag.iti__jp {
    height: 22px;
    background-position: -4036px 0px; }
  .iti__flag.iti__ke {
    height: 22px;
    background-position: -4070px 0px; }
  .iti__flag.iti__kg {
    height: 19px;
    background-position: -4104px 0px; }
  .iti__flag.iti__kh {
    height: 21px;
    background-position: -4138px 0px; }
  .iti__flag.iti__ki {
    height: 16px;
    background-position: -4172px 0px; }
  .iti__flag.iti__km {
    height: 19px;
    background-position: -4206px 0px; }
  .iti__flag.iti__kn {
    height: 22px;
    background-position: -4240px 0px; }
  .iti__flag.iti__kp {
    height: 16px;
    background-position: -4274px 0px; }
  .iti__flag.iti__kr {
    height: 22px;
    background-position: -4308px 0px; }
  .iti__flag.iti__kw {
    height: 16px;
    background-position: -4342px 0px; }
  .iti__flag.iti__ky {
    height: 16px;
    background-position: -4376px 0px; }
  .iti__flag.iti__kz {
    height: 16px;
    background-position: -4410px 0px; }
  .iti__flag.iti__la {
    height: 22px;
    background-position: -4444px 0px; }
  .iti__flag.iti__lb {
    height: 22px;
    background-position: -4478px 0px; }
  .iti__flag.iti__lc {
    height: 16px;
    background-position: -4512px 0px; }
  .iti__flag.iti__li {
    height: 19px;
    background-position: -4546px 0px; }
  .iti__flag.iti__lk {
    height: 16px;
    background-position: -4580px 0px; }
  .iti__flag.iti__lr {
    height: 17px;
    background-position: -4614px 0px; }
  .iti__flag.iti__ls {
    height: 22px;
    background-position: -4648px 0px; }
  .iti__flag.iti__lt {
    height: 19px;
    background-position: -4682px 0px; }
  .iti__flag.iti__lu {
    height: 19px;
    background-position: -4716px 0px; }
  .iti__flag.iti__lv {
    height: 16px;
    background-position: -4750px 0px; }
  .iti__flag.iti__ly {
    height: 16px;
    background-position: -4784px 0px; }
  .iti__flag.iti__ma {
    height: 22px;
    background-position: -4818px 0px; }
  .iti__flag.iti__mc {
    height: 25px;
    background-position: -4852px 0px; }
  .iti__flag.iti__md {
    height: 16px;
    background-position: -4886px 0px; }
  .iti__flag.iti__me {
    height: 16px;
    background-position: -4920px 0px; }
  .iti__flag.iti__mf {
    height: 22px;
    background-position: -4954px 0px; }
  .iti__flag.iti__mg {
    height: 22px;
    background-position: -4988px 0px; }
  .iti__flag.iti__mh {
    height: 17px;
    background-position: -5022px 0px; }
  .iti__flag.iti__mk {
    height: 16px;
    background-position: -5056px 0px; }
  .iti__flag.iti__ml {
    height: 22px;
    background-position: -5090px 0px; }
  .iti__flag.iti__mm {
    height: 22px;
    background-position: -5124px 0px; }
  .iti__flag.iti__mn {
    height: 16px;
    background-position: -5158px 0px; }
  .iti__flag.iti__mo {
    height: 22px;
    background-position: -5192px 0px; }
  .iti__flag.iti__mp {
    height: 16px;
    background-position: -5226px 0px; }
  .iti__flag.iti__mq {
    height: 22px;
    background-position: -5260px 0px; }
  .iti__flag.iti__mr {
    height: 22px;
    background-position: -5294px 0px; }
  .iti__flag.iti__ms {
    height: 16px;
    background-position: -5328px 0px; }
  .iti__flag.iti__mt {
    height: 22px;
    background-position: -5362px 0px; }
  .iti__flag.iti__mu {
    height: 22px;
    background-position: -5396px 0px; }
  .iti__flag.iti__mv {
    height: 22px;
    background-position: -5430px 0px; }
  .iti__flag.iti__mw {
    height: 22px;
    background-position: -5464px 0px; }
  .iti__flag.iti__mx {
    height: 19px;
    background-position: -5498px 0px; }
  .iti__flag.iti__my {
    height: 16px;
    background-position: -5532px 0px; }
  .iti__flag.iti__mz {
    height: 22px;
    background-position: -5566px 0px; }
  .iti__flag.iti__na {
    height: 22px;
    background-position: -5600px 0px; }
  .iti__flag.iti__nc {
    height: 16px;
    background-position: -5634px 0px; }
  .iti__flag.iti__ne {
    height: 25px;
    background-position: -5668px 0px; }
  .iti__flag.iti__nf {
    height: 16px;
    background-position: -5699px 0px; }
  .iti__flag.iti__ng {
    height: 16px;
    background-position: -5733px 0px; }
  .iti__flag.iti__ni {
    height: 19px;
    background-position: -5767px 0px; }
  .iti__flag.iti__nl {
    height: 22px;
    background-position: -5801px 0px; }
  .iti__flag.iti__no {
    height: 24px;
    background-position: -5835px 0px; }
  .iti__flag.iti__np {
    height: 25px;
    background-position: -5869px 0px; }
  .iti__flag.iti__nr {
    height: 16px;
    background-position: -5892px 0px; }
  .iti__flag.iti__nu {
    height: 16px;
    background-position: -5926px 0px; }
  .iti__flag.iti__nz {
    height: 16px;
    background-position: -5960px 0px; }
  .iti__flag.iti__om {
    height: 16px;
    background-position: -5994px 0px; }
  .iti__flag.iti__pa {
    height: 22px;
    background-position: -6028px 0px; }
  .iti__flag.iti__pe {
    height: 22px;
    background-position: -6062px 0px; }
  .iti__flag.iti__pf {
    height: 22px;
    background-position: -6096px 0px; }
  .iti__flag.iti__pg {
    height: 24px;
    background-position: -6130px 0px; }
  .iti__flag.iti__ph {
    height: 16px;
    background-position: -6164px 0px; }
  .iti__flag.iti__pk {
    height: 22px;
    background-position: -6198px 0px; }
  .iti__flag.iti__pl {
    height: 20px;
    background-position: -6232px 0px; }
  .iti__flag.iti__pm {
    height: 22px;
    background-position: -6266px 0px; }
  .iti__flag.iti__pn {
    height: 16px;
    background-position: -6300px 0px; }
  .iti__flag.iti__pr {
    height: 22px;
    background-position: -6334px 0px; }
  .iti__flag.iti__ps {
    height: 16px;
    background-position: -6368px 0px; }
  .iti__flag.iti__pt {
    height: 22px;
    background-position: -6402px 0px; }
  .iti__flag.iti__pw {
    height: 20px;
    background-position: -6436px 0px; }
  .iti__flag.iti__py {
    height: 18px;
    background-position: -6470px 0px; }
  .iti__flag.iti__qa {
    height: 13px;
    background-position: -6504px 0px; }
  .iti__flag.iti__re {
    height: 22px;
    background-position: -6538px 0px; }
  .iti__flag.iti__ro {
    height: 22px;
    background-position: -6572px 0px; }
  .iti__flag.iti__rs {
    height: 22px;
    background-position: -6606px 0px; }
  .iti__flag.iti__ru {
    height: 22px;
    background-position: -6640px 0px; }
  .iti__flag.iti__rw {
    height: 22px;
    background-position: -6674px 0px; }
  .iti__flag.iti__sa {
    height: 22px;
    background-position: -6708px 0px; }
  .iti__flag.iti__sb {
    height: 16px;
    background-position: -6742px 0px; }
  .iti__flag.iti__sc {
    height: 16px;
    background-position: -6776px 0px; }
  .iti__flag.iti__sd {
    height: 16px;
    background-position: -6810px 0px; }
  .iti__flag.iti__se {
    height: 20px;
    background-position: -6844px 0px; }
  .iti__flag.iti__sg {
    height: 22px;
    background-position: -6878px 0px; }
  .iti__flag.iti__sh {
    height: 16px;
    background-position: -6912px 0px; }
  .iti__flag.iti__si {
    height: 16px;
    background-position: -6946px 0px; }
  .iti__flag.iti__sj {
    height: 24px;
    background-position: -6980px 0px; }
  .iti__flag.iti__sk {
    height: 22px;
    background-position: -7014px 0px; }
  .iti__flag.iti__sl {
    height: 22px;
    background-position: -7048px 0px; }
  .iti__flag.iti__sm {
    height: 24px;
    background-position: -7082px 0px; }
  .iti__flag.iti__sn {
    height: 22px;
    background-position: -7116px 0px; }
  .iti__flag.iti__so {
    height: 22px;
    background-position: -7150px 0px; }
  .iti__flag.iti__sr {
    height: 22px;
    background-position: -7184px 0px; }
  .iti__flag.iti__ss {
    height: 16px;
    background-position: -7218px 0px; }
  .iti__flag.iti__st {
    height: 16px;
    background-position: -7252px 0px; }
  .iti__flag.iti__sv {
    height: 18px;
    background-position: -7286px 0px; }
  .iti__flag.iti__sx {
    height: 22px;
    background-position: -7320px 0px; }
  .iti__flag.iti__sy {
    height: 22px;
    background-position: -7354px 0px; }
  .iti__flag.iti__sz {
    height: 22px;
    background-position: -7388px 0px; }
  .iti__flag.iti__ta {
    height: 16px;
    background-position: -7422px 0px; }
  .iti__flag.iti__tc {
    height: 16px;
    background-position: -7456px 0px; }
  .iti__flag.iti__td {
    height: 22px;
    background-position: -7490px 0px; }
  .iti__flag.iti__tf {
    height: 22px;
    background-position: -7524px 0px; }
  .iti__flag.iti__tg {
    height: 20px;
    background-position: -7558px 0px; }
  .iti__flag.iti__th {
    height: 22px;
    background-position: -7592px 0px; }
  .iti__flag.iti__tj {
    height: 16px;
    background-position: -7626px 0px; }
  .iti__flag.iti__tk {
    height: 16px;
    background-position: -7660px 0px; }
  .iti__flag.iti__tl {
    height: 16px;
    background-position: -7694px 0px; }
  .iti__flag.iti__tm {
    height: 22px;
    background-position: -7728px 0px; }
  .iti__flag.iti__tn {
    height: 22px;
    background-position: -7762px 0px; }
  .iti__flag.iti__to {
    height: 16px;
    background-position: -7796px 0px; }
  .iti__flag.iti__tr {
    height: 22px;
    background-position: -7830px 0px; }
  .iti__flag.iti__tt {
    height: 19px;
    background-position: -7864px 0px; }
  .iti__flag.iti__tv {
    height: 16px;
    background-position: -7898px 0px; }
  .iti__flag.iti__tw {
    height: 22px;
    background-position: -7932px 0px; }
  .iti__flag.iti__tz {
    height: 22px;
    background-position: -7966px 0px; }
  .iti__flag.iti__ua {
    height: 22px;
    background-position: -8000px 0px; }
  .iti__flag.iti__ug {
    height: 22px;
    background-position: -8034px 0px; }
  .iti__flag.iti__um {
    height: 17px;
    background-position: -8068px 0px; }
  .iti__flag.iti__un {
    height: 22px;
    background-position: -8102px 0px; }
  .iti__flag.iti__us {
    height: 17px;
    background-position: -8136px 0px; }
  .iti__flag.iti__uy {
    height: 22px;
    background-position: -8170px 0px; }
  .iti__flag.iti__uz {
    height: 16px;
    background-position: -8204px 0px; }
  .iti__flag.iti__va {
    height: 25px;
    background-position: -8238px 0px; }
  .iti__flag.iti__vc {
    height: 22px;
    background-position: -8265px 0px; }
  .iti__flag.iti__ve {
    height: 22px;
    background-position: -8299px 0px; }
  .iti__flag.iti__vg {
    height: 16px;
    background-position: -8333px 0px; }
  .iti__flag.iti__vi {
    height: 22px;
    background-position: -8367px 0px; }
  .iti__flag.iti__vn {
    height: 22px;
    background-position: -8401px 0px; }
  .iti__flag.iti__vu {
    height: 19px;
    background-position: -8435px 0px; }
  .iti__flag.iti__wf {
    height: 22px;
    background-position: -8469px 0px; }
  .iti__flag.iti__ws {
    height: 16px;
    background-position: -8503px 0px; }
  .iti__flag.iti__xk {
    height: 23px;
    background-position: -8537px 0px; }
  .iti__flag.iti__ye {
    height: 22px;
    background-position: -8571px 0px; }
  .iti__flag.iti__yt {
    height: 22px;
    background-position: -8605px 0px; }
  .iti__flag.iti__za {
    height: 22px;
    background-position: -8639px 0px; }
  .iti__flag.iti__zm {
    height: 22px;
    background-position: -8673px 0px; }
  .iti__flag.iti__zw {
    height: 16px;
    background-position: -8707px 0px; }

.iti__flag {
  height: 25px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("../img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 50px 0; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
      background-image: url("../img/flags@2x.png"); } }

.iti__flag.iti__np {
  background-color: transparent; }
